<!DOCTYPE html>
<html>
    <head>
        <title>New Profile Page</title>
        <link href="index.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div id="display">
            <div id="profilePic"></div>
            <div id="nameDiv"></div>
            <div id="locationDiv"></div>
            <div id="phoneDiv"></div>
            <div id="emailDiv"></div>
            
            <input id="picInput" type="text" placeholder="Paste Image Link Here" />
            <button id="submitButton">Submit</button>
        </div>
        
        <div id="sideBar"></div>
        
        <div id="navBar"></div>
        
        <script src="index.js"></script>
    </body>

</html>