#display {
    position:absolute;
    width:87%;
    height:90%;
    right:0px;
    bottom:0px;
    background-color:aliceblue;
}

#sideBar {
    position:absolute;
    width:11%;
    height:90%;
    left:0px;
    bottom:0px;
    background-color:azure;
}

#navBar {
    position:absolute;
    width:100%;
    height:9%;
    top:0px;
    left:0px;
    background-color:beige;
}

#profilePic {
    position:absolute;
    width:250px;
    height:250px;
    left:75px;
    top:50px;
    background-color:white;
}

#nameDiv {
    position:absolute;
    height:40px;
    width:200px;
    left:75px;
    top:65%;
    background-color:white;
}

#locationDiv {
    position:absolute;
    height:250px;
    width:300px;
    right:7%;
    top:50px;
    background-color:white;
}

#picInput {
    position:absolute;
    left:75px;
    top:58%;
}

#submitButton {
    position:absolute;
    left:250px;
    top:57.9%;
}

#phoneDiv {
    position:absolute;
    height:40px;
    width:200px;
    left:35%;
    top:65%;
    background-color:white;
}

#emailDiv {
    position:absolute;
    height:40px;
    width:200px;
    left:35%;
    
}



