<!DOCTYPE html>
<html>
	<head>
		<title>Chat Room</title>
		<link rel="stylesheet" type="text/css" href="hub.css">
	</head>

	<body>
		<div id="chatroomMain">
			<div id="chatRoomList">
				<div id="chatRoom1" class="crNum">ChatRoom No.1</div>
				<div id="chatRoom2" class="crNum">ChatRoom No.2</div>
				<div id="chatRoom3" class="crNum">ChatRoom No.3</div>
			</div>
			<div id="chatDisplay">
				<div id="userNameList">
					<div id="user1" class="users">UserName 1</div>
					<div id="user2" class="users">UserName 2</div>
					<div id="user3" class="users">UserName 3</div>
				</div>
				<div id="chatDetails">
					<div id="addChatRoomPopUpPage">
						<div id="personName_to_be_added">Person Name: FirstName LastName</div>
						<div id="personContactInfo">
							<div id="userContact">User Contact</div>
							<div id="userEmail">User Email</div>
							<div id="userAddress">User Address</div>
						
						</div>
						<button id="createButton">Create</button>
					
					</div>
					<div id="user3_Img_text" class="userImgText">
						<img src="imgs/3.jpg" id="jpg1" class="user_jpg" />
						<div id="user3_text" class="user_text_contents">User3 text</div>
						<div class="user_name">User3 Name</div>
						
					</div>
					<div id="user2_Img_text" class="userImgText">
						<img src="imgs/2.jpg" id="jpg2" class="user_jpg" />
						<div id="user2_text" class="user_text_contents">User2 text</div>
						<div class="user_name">User2 Name</div>
					</div>
					<div id="user1_Img_text" class="userImgText">
						<img src="imgs/1.jpg" id="jpg3" class="user_jpg" />
						<div id="user1_text" class="user_text_contents">User1 text</div>
						<div class="user_name">User1 Name</div>
					</div>				
				</div>
							
			</div>
			<div id="sendMessageDiv">
					<button id="sendBtn">Send Message</button>
					<input type="text" placeholder="type message to send" id="sendInp"/>
			</div>
			<div id="addChatRoom">
				<button id="addCrButton">New Chatroom</button>
			</div>
		</div>

		<script src="hub.js"></script>
	</body>

</html>