<!DOCTYPE html>
<html>
	<head>
		<title>Chat Room</title>
		<link rel="stylesheet" type="text/css" href="hub.css">
	</head>

	<body>
		<div id="chatroomMain">
			<div id="chatRoomList">
				<div id="chatRoom1" class="crNum">ChatRoom No.1</div>
				<div id="chatRoom2" class="crNum">ChatRoom No.2</div>
				<div id="chatRoom3" class="crNum">ChatRoom No.3</div>
				<div id="chatRoom4" class="crNum">ChatRoom No.4</div>
				<div id="chatRoom5" class="crNum">ChatRoom No.5</div>
				<div id="chatRoom6" class="crNum">ChatRoom No.6</div>
				<div id="chatRoom6" class="crNum">ChatRoom No.7</div>
				<div id="chatRoom6" class="crNum">ChatRoom No.8</div>
				<div id="chatRoom6" class="crNum">ChatRoom No.9</div>
				<div id="chatRoom6" class="crNum">ChatRoom No.10</div>
			</div>
			<div id="chatDisplay">
				<div id="userNameList">
					<div id="user1" class="users">UserName 1</div>
					<div id="user2" class="users">UserName 2</div>
					<div id="user3" class="users">UserName 3</div>
				</div>
				<div id="chatDetails">
					<div id="user3_Img_text" class="userInp">
						<img src="1.jpg" id="jpg1" class="user_jpg"/>
						<input type="text" placeholder="user3's chat message" class="user_text_contents"/>						
					</div>
					<div id="user2_Img_text" class="userInp">
						<img src="2.jpg" id="jpg2" class="user_jpg"/>
						<input type="text" placeholder="user2's chat message" class="user_text_contents"/>
					</div>
					<div id="user1_Img_text" class="userInp">
						<img src="3.jpg" id="jpg3" class="user_jpg"/>
						<input type="text" placeholder="user1's chat message" class="user_text_contents"/>
					</div>				
				</div>
							
			</div>
			<div id="sendMessageDiv">
					<input type="button" value="Send" id="sendBtn"/>
					<input type="text" placeholder="type message to send" id="sendInp"/>
			</div>
			<div id="addChatRoom">
				<input type="button" value="Add_Chat_Room" id="addCrButton"/>
			</div>
		</div>

		<script src="hub.js"></script>
	</body>

</html>