<!DOCTYPE html>
<html>
	<head>
		<title>Chat Room</title>
		<link rel="stylesheet" type="text/css" href="hub.css">
	</head>

	<body>
		<div id="chatroomMain">
			<div id="chatRoomList">
				<div id="chatRoom1" class="crNum">ChatRoom No.1</div>
				<div id="chatRoom2" class="crNum">ChatRoom No.2</div>
				<div id="chatRoom3" class="crNum">ChatRoom No.3</div>
				<div id="chatRoom4" class="crNum">ChatRoom No.4</div>
				<div id="chatRoom5" class="crNum">ChatRoom No.5</div>
				<div id="chatRoom6" class="crNum">ChatRoom No.6</div>
			</div>
			<div id="chatDisplay">
				<div id="userNameList">
					<div id="user1" class="users"></div>
					<div id="user2" class="users"></div>
					<div id="user3" class="users"></div>
				</div>
				<div id="chatDetails">
					<div id="user1_Img_text">
						<img src="" />
						<input type="text" placeholder="user1's chat message" />						
					</div>
					<div id="user2_Img_text">
						<img src="" />
						<input type="text" placeholder="user1's chat message" />
					</div>
					<div id="user3_Img_text">
						<img src="" />
						<input type="text" placeholder="user1's chat message" />
					</div>				
				</div>
				<div id="sendMessage">
					<input type="button" value="Send" />
					<input="text" placeholder="type message to send" />
				</div>			
			</div>
			<div id="addChatRoom">
				<input type="button" value="Add Chat" />
			</div>
		</div>

		<script src="hub.js"></script>
	</body>

</html>