#chatroomMain {
	position:absolute;
	width:99%;
	height:98%;
	background-color:#82db82;	
}
#chatRoomList {
	width:18%;
	height:45%;
	left:10px;
	top:10px;
	position:absolute;
	overflow:scroll;
	white-space:nowrap;
	text-align:center;
}
.crNum {
	text-align:center;
	height:35px;
	width:18%;
	position:relative;
	margin:10px;
}
#addChatRoom {
	width:15%;
	height:30px;
	left:100px;
	bottom:30px;
	position:absolute;
}
#addCrButton{
	height:35px;
}
#chatDisplay {
	width:78vw;
	height:80vh;
	right:0px;
	position:absolute;
	border:2px solid blue;
	text-align:center;
}
#sendMessageDiv {
	bottom:35px;
	right:0px;
	width:75vw;
	height:3.5vh;
	position:absolute;
	
}
#sendInp {
	width:65vw;
	height:35px;
	position:relative;
}
#sendBtn {
	height:40px;
	width:80px;
	margin-right:10px;
}
#userNameList {
	width:99.5%;
	top:10px;
	height:8%;
	position:relative;
	text-align:center;
	border:2px solid blue;
	background-color:yellow;
}
#chatDetails {
	width:98%;
	bottom:0px;
	height:80%;
	position:relative;
}
.users {
	width:25%;
	height:5%;
	position:relative;
	display:inline-block;
	vertical-align:middle;
}
.userInp {
	height:25%;
	width:50%;
	position:relative;
	margin:20px;
	border:2px solid blue;
}
#user1_Img_text {
	right:0px;
	position:absolute;
}
.user_jpg {
	position:absolute;
	width:20%;
	height:90%;
	left:0px;
	top:0px;
	bottom:0px;
	margin:auto;
	vertical-align:middle;
	text-align:center;
}
.user_text_contents {
	position:absolute;
	width:75%;
	height:90%;
	right:0px;
	top:0px;
	bottom:0px;
	margin:auto;
	vertical-align:middle;
	text-align:center;
	font-size:30px;
}

