<!DOCTYPE html>
<html>

<head>
    <title>Welcome glenn</title>
    <link rel="stylesheet" type="text/css" href="/hub.css">
</head>

<body>
    <header id="upper_menus">
        <div>Hello, user glenn</div>
        <div id="options">
        Options
        <div class="dropdown-content">
                <div id="profile">Profile</div> //Edit
                <div id="contact">Contacts</div> //Edit
                <div id="chat">Chat</div> //Edit
				<div id="events">Events</div> //Edit
				<div id="logout">Logout</div> //Edit
            </div>
        </div>
    </header>
	
	<div id="main_window"></div>

    <script src="/hub.js"></script>
</body>

</html>