<div id="{{chatroom_id}}_display" class="chatDisplay">
        <div id="{{chatroom_id}}_list" class="userNameList">
        	{{#each users}}
        	<div class="users">{{this}}</div>
        	{{/each}}
        </div>
        <div id="{{chatroom_id}}_chatlog" class="chatDetails">
        </div>
    </div>