<!DOCTYPE html>
<html>
    <head>
        <title>Chat Room</title>
        <link href="index.css" type="text/css" rel="stylesheet" />
    </head>

    <body>
        <button id="button">button</button>
        
        <div id="box">box1</div>
        
        {{stuff}}
        {{#each phoneNumber}}
            <div id="{{this.phone}}" class="phones">{{this.phone}} {{this.name}}</div>
        {{/each}}
        
    
        <script src="index.js"></script>
    </body>

</html>