<!DOCTYPE html>
<html>
    <head>
        <title>Server Tutorial</title>
        <link href="hub.css" type="text/css" rel="stylesheet" />
    </head>

    <body>
        <button id="button">button</button>
        
        <div id="box"></div>
        
        {{stuff}}
        {{#each phoneNumber}}
            <div id="{{this.phone}}" class="phones">{{this.phone}} {{this.name}}</div>
        {{/each}}
        
    
        <script src="hub.js"></script>
    </body>

</html>