<!DOCTYPE html>
<html>
	<head>
		<title>Chat Room</title>
		<link rel="stylesheet" type="text/css" href="hub.css">
	</head>
		<script src="/socket.io/socket.io.js"></script>
	<body>
		<div id="chatroomMain">
			<div id="chatRoomList">
				<div id="chatRoom1" class="crNum">ChatRoom No.1</div>
				<div id="chatRoom2" class="crNum">ChatRoom No.2</div>
				<div id="chatRoom3" class="crNum">ChatRoom No.3</div>
			</div>
			<div id="chatDisplay">
				<div id="userNameList">
					
				</div>
				<div id="chatDetails">
					
					<div id="addChatRoomPopUpPage">
						<div id="personName_to_be_added">Person Name: FirstName LastName</div>
						<div id="personContactInfo">
							<div id="userContact">User Contact</div>
							<div id="userEmail">User Email</div>
							<div id="userAddress">User Address</div>
						
						</div>
						<button id="createButton">Create</button>
					
					</div>
								
				</div>
							
			</div>
			<div id="sendMessageDiv">
					<button id="sendBtn">Send Message</button>
					<input type="text" placeholder="   Type in message to send" id="sendInp"/>
			</div>
			<div id="addChatRoom">
				<button id="addCrButton">New Chatroom</button>
			</div>
		</div>

		<script src="hub.js"></script>
	</body>
	
</html>