#chatroomMain {
	position:absolute;
	width:99%;
	height:98%;
	background-color:#dfaff6;	
}
#chatRoomList {
	width:18%;
	height:45%;
	left:10px;
	top:10px;
	position:absolute;
	overflow:scroll;
	white-space:nowrap;
	text-align:center;
	
}
.crNum, .nCtrm {
	text-align:center;
	font-size:20px;
	height:35px;
	width:85%;
	position:relative;
	margin:10px;
	border:3px solid #fffa00;
	border-radius:10px;
	background-color:#8cccc7;
}
#addChatRoom {
	width:230px;
	height:150px;
	left:30px;
	bottom:0px;
	position:absolute;
}
#addChatRoomPopUpPage {
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	margin:auto;
	position:absolute;
	width:50%;
	height:50%;
	z-index:2;
	background-color:#e4e4e4;
	display:none;
	border:yellow solid 5px;
	border-radius:5px;
}
#addCrButton{
	height:70px;
	width:170px;
	position:relative;
	left:35px;
	top:60px;
}
.chatDisplay {
	display: none;
	width:78vw;
	height:80vh;
	right:0px;
	position:absolute;
	border:2px solid blue;
	text-align:center;
	background-color:#dfaff6
}
#sendMessageDiv {
	bottom:6px;
	right:30px;
	width:75vw;
	height:80px;
	position:absolute;
	
}
#sendInp {
	width:66vw;
	height:37px;
	left:0px;
	top:15px;
	position:relative;
	font-size:20px;
}
#sendBtn {
	position:absolute;
	height:70px;
	width:120px;
	right:0px;
	margin-left:10px;
}
.userNameList {
	width:99.5%;
	top:10px;
	height:10%;
	position:relative;
	border:2px solid blue;
	background-color:#f812d9;
	overflow:auto;
}
.chatDetails {
	width:vw;
	bottom:0px;
	height:88%;
	position:relative;
	background-color:#879bff;
	text-align:left;
	font-size:20px;
}
.users {
	position:relative;
	display:inline-block;
	background-color: #00ff0a;
	border:3px solid pink;
	font-size:20px;
	color:black;
	padding-left:5px;
}
.userNameDiv {
	position:absolute;
	background-color:#00ff0a;
	width: 10%;
	height:auto;
}
.textInfoDiv {
	position:relative;
	width:90%;
	left: 10%;
	height:auto;
	background-color:#00f1ff;
}
.messDiv {
	border:3px solid #879bff;
	position:relative;
	background-color:#00ff0a;
	width:99.5%;
	height:auto;
	overflow:auto;
	
}

.user_jpg {
	position:absolute;
	width:20%;
	height:70%;
	left:0px;
	top:0px;
	bottom:0px;
	margin:auto;
	vertical-align:middle;
	text-align:center;
}
.user_name {
	position:absolute;
	width:18%;
	height:18%;
	left:0px;
	bottom:-3px;
	white-space:nowrap;
}
.user_text_contents {
	position:absolute;
	width:75%;
	height:90%;
	right:0px;
	top:0px;
	bottom:0px;
	margin:auto;
	vertical-align:middle;
	text-align:center;
	font-size:30px;
}
#chatroom_to_be_added {
	font-size:15px;
	left:10px;
	position:absolute;
	top:10px;
	text-align:center;
}
.adUrDiv {
	position:relative;
	top:25%;
	height:20%;
	width:28%;
	background-color:pink;
	display:inline-block;
	border-radius:10px;
	overflow:auto;
	margin-left:20px;
	border:3px;
}
#personContactInfo {
	width:97.5%;
	height:62.5%;
	position:absolute;
	left:10px;
	bottom:41px;
	background-color:#96e490;
	overflow:auto;
}
#createChatRoomName {
	width:350px;
	height:20px;
	left:20px;
	position:relative;
	
}
#newChatRoomName {
	width:50%;
	height:50%;
	position:absolute;
	left:0px;
	right:0px;
	margin:auto;
	text-align:center;
	vertical-align:middle;
	font-size:20px;
	color:red;	
}
#createButton {
	font-size:20px;
	right:10px;
	position:absolute;
	bottom:6px;
	border:red solid 2px;
	background-color:pink;
}

/* #userContact { */
	/* left:20px; */
	/* top:20px; */
	/* position:absolute; */
	/* font-size:20px; */
/* } */
/* #userEmail { */
	/* left:20px; */
	/* top:70px; */
	/* position:absolute; */
	/* font-size:20px; */
/* } */
/* #userAddress { */
	/* left:20px; */
	/* top:120px; */
	/* position:absolute; */
	/* font-size:20px; */
/* } */








