
#leftbar{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 15%;
    background-color: aquamarine;
    overflow: auto;
}

#contact{
    height: 40px;
    width: 95%;
    background-color: aliceblue;
    border-radius: 10px;
    text-align: center;
}

#hide{
    position: absolute;
    top: 90%;
    z-index: 1;
}

#main{
    position: absolute;
    height: 100%;
    width: 85%;
    background-color: azure;
    left:15%;
    top: 0px;
    transition: 0.4s;
}

.cards{
    position: absolute;
    margin: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    height: 65%;
    width: 80%;
    background-color: beige;
    font-size: 30px;
    display: none;
}


#info{
    position: absolute;
    height: 45vh;
    width: 28%;
    left: 4%;
    top: 6vw;
    background-color: rgb(0,0,0,0.2);
}

#phone{
    position: absolute;
    height: 45vh;
    width: 28%;
    left: 36%;
    top: 6vw;
    background-color: rgb(0,0,0,0.2);
}

#address{
    position: absolute;
    height: 45vh;
    width: 28%;
    left: 68%;
    top: 6vw;
    background-color: rgb(0,0,0,0.2);
    overflow: auto;
}

#confname{
    font-size: 20px;
    padding: 5px;
}

#conlname{
    font-size: 20px;
    padding: 5px;
}

#conbio{
    font-size: 20px;
    padding: 5px;
}

#phone1{
    font-size: 20px;
    padding: 5px;
}

#phone2{
    font-size: 20px;
    padding: 5px;
}

#phone3{
    font-size: 20px;
    padding: 5px;
}

#email{
    font-size: 20px;
    padding: 5px;
}

.addrs{
    font-size: 20px;
    padding: 5px;
    transition-duration: 0.2s;
}

#addcontacts{
    position: absolute;
    height: 6%;
    width: 15%;
    left: 0px;
    bottom: 0px;
}

.contacts{
    height: 40px;
    width: 95%;
    background-color: aliceblue;
    border-radius: 10px;
    text-align: center;
    margin: 5px;
}

#editcontact{
    position: absolute;
    height: 5vh;
    width: 10vw;
    right: 10%;
    bottom: 5%;
}

.maphide{
    display: none;
}

.mapshow{
    display: block;
}

#addone{
    position: fixed;
    display: none;
    height: 50vh;
    width: 50vw;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    background-color: coral;
    font-size: 30px;
}

#fnamediv{
    font-size: 20px;
    padding: 7px;
}

#lnamediv{
    font-size: 20px;
    padding: 7px;
}

#bioinput{
    font-size: 20px;
    padding: 7px;
}

#phoneinput{
    font-size: 20px;
    padding: 7px;
}

#addressinput{
    font-size: 20px;
    padding: 7px;
}

#bioinputbox{
    width: 70%;
}

#addressinputbox{
    width: 50%;
    line-height: 3em;
}

#emailinput{
    font-size: 20px;
    padding: 7px;
}

#confirmadd{
    position: absolute;
/*
    right: 0px;
    bottom: 0px;
*/
    padding: 15px;
    right: 10px;
    bottom: 10px;
}

#search{
    position: absolute;
/*
    right: 0px;
    bottom: 0px;
*/
    padding: 15px;
    right: 90px;
    bottom: 10px;
}

#editaddress{
    right: 20px;
    top: 15px;
    position: absolute;
}

#editphone{
    right: 20px;
    top: 15px;
    position: absolute;
}

#editaddresspage{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    height: 10vh;
    width: 30vw;
    background-color: palegreen;
    display: none;
}

#newaddressbox{
    position: absolute;
    left: 3%;
    top: 1vw;
    width: 70%;
}

#okaddress{
    position: absolute;
    right: 10%;
    top: 1vw;
}

#editphonepage{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    height: 15vh;
    width: 30vw;
    background-color: palegreen;
    display: none;
}

#newphonebox{
    position: absolute;
    left: 3%;
    top: 3vw;
    width: 70%;
}

#typeselect{
    position: absolute;
    left: 3%;
    top: 1vw;
}

#okphone{
    position: absolute;
    right: 10%;
    top: 3vw;
}

#warningpic{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 5%;
    bottom: 3%;
    background-image: url(warning.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
}

#warning{
    position: absolute;
    height: 30px;
    width: 90%;
    right: -8%;
    bottom: -5%;
    font-size: 15px;
    display: none;
}

#viewonmap{
    position: absolute;
    top: 6vh;
    right: 4%;
}

#previewmap{
    position: absolute;
    display: none;
    left: 0px;
    bottom: -250px;
}

#searchwindow{
    position: absolute;
    height: 10%;
    width: 30%;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    background-color: darkgoldenrod;
    display: none;
}

#searchboxes{
    position: absolute;
    left: 3%;
    top: 8%;
}

#searchbutton{
    position: absolute;
    bottom: 10%;
    left: 41%;
}

#searchnameoremail{
    width: 250px;
}

#resultwindow{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    height: 45%;
    width: 45%;
    background-color: darkseagreen;
    display: none;
    overflow: auto;
}

.newresult{
    width: 100%;
    height: 20%;
}