#left_selection{
	position: absolute;
	top:0px;
	left:0px;
	height: 100%;
	width: 60%;
	margin:auto;
	background-color: #7aff75;
}

#upper_menus{
	position: fixed;
	margin:auto;
	top:0px;
	left:0px;
	height: 50px;
	width: 100%;
	background-color: #47a330;
	z-index: 1;

}
.left_options{
	position: relative;
	top: 50px;
	border-bottom: ridge #47a330 3px;
	text-align: left;
}
.right_window{
	position: absolute;
	top:70px;
	right:20px;
	height: 90%;
	width: 36%;
	margin:auto;
	background-color:floralwhite;
	display: block;
}

#options {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#options:hover .dropdown-content {
    display: block;
}


#username{
    border: 3px solid ;
    left: 38%;
    text-align: center;
    position:absolute;
    top: 9%;
    font-size: 25px;
    height: 6%;
    font-family: fantasy;
}

#evname{
    top: 18%;
    left: 25%;
    position: absolute;
    width: 20%;
    height: 4%;
}

#selectmem{
    top: 18.5%;
    left: 47%;
    position: absolute;
    width: 15%;
    height: 3%;
}

#startdate{
    left: 25%;
    top: 25%;
    position:absolute;
    width: 15%;
    height: 4%;
}

#starttime{
    left: 45%;
    top: 25%;
    position: absolute;
    width: 15%;
    height: 4%;
    
}

#address{
    top: 32%;
    position:absolute;
    left: 33.5%;
    width: 20%;
    height: 3%;
}

#sendadd{
    top: 37%;
    position: absolute;
    left: 32%;
    width: 23%;
    height: 25px;
}

#submit{
    top: 85%;
    position: absolute;
    left: 40%;
    width: 10%;
    height: 5%;
}

#map{
    left: 20%;
    width: 50%;
    height: 300px;
    position: absolute;
    top: 42%;
}

#eventinfo{
    width: 100%;
    height: 100%;
}

#info{
    width: 90%;
    position:absolute;
    text-align: center;
    height: 80%;
    border: 1px solid;
    top: 10%;
    left: 5%;
    height: 85%;
    width: 90%;
    overflow: scroll;
}
 
#eventname{
    font-size: 20px;
    top: 10px;
    left: 40%;
    position:absolute;
    height: 10%;
    width: 80%;
    font-family:cursive;
    color: dimgray;
}

#text{
    top: 25%;
    left: 61%;
    position: absolute;
    font-size: 20px;
    width: 4%;
    height: 5%;
}

.evinfo{
    left: 0px;
    text-align: left;
    font-size: 20px;
    color:black;
    border: 0.8px  blue dashed;
    border-radius: 10px;
    line-height: 1cm;
}
#member {
    position: absolute;
    left: 67%;
    height: 30%;
    width: 30%;
    background-color:skyblue;
    top:10%;
    overflow:scroll;
    display: none;
}
#submitInvite {
    position:absolute;
    top:42%;
    left:70%;
    width:15%;
    display: none;
}
.newdivs {
    position: relative;
    height: 30%;
    width: 30%;
    background-color: #64B6AC;
}

.newdivs_selected {
    position: relative;
    height: 30%;
    width: 30%;
    background-color: #E8DC40;
}