
#upper_menus{
	position: fixed;
	margin:auto;
	top:0px;
	left:0px;
	height: 50px;
	width: 100%;
	background-color: #47a330;
	z-index: 1;

}

#options {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#options:hover .dropdown-content {
    display: block;
}

#main_window {
	height: 93%;
	width: 99%;
	background-color: green;
	position: absolute;
	top:55px;
}
